# Solana
RPC_URL=https://api.devnet.solana.com
WALLET_PATH=~/.config/solana/id.json

# Program IDs (updated after anchor deploy)
HOOK_PROGRAM_ID=H1GnvpH6ExjedB3uDsB3UF2aNRKtTj7R7Zp14f4qzkem
TREASURY_PROGRAM_ID=HK4LnUjmobjbcvhfgEUe3pdnf5N3GHZtqPDVy4TKzeA7

# SIX BFI API
SIX_API_KEY=your_six_api_key
SIX_API_URL=https://api.six-group.com/api/findata/v1

# Server
PORT=3001
